<div class="container-fluid mb-3">

  <div class="row shadow-sm py-3">
    <div class="col-7 d-flex justify-content-around align-items-center">
      <form class="form-inline">

        <div class="form-group mx-3">
          <label for="description" class="px-3">Description</label>
          <input class="form-control" type="text" id="description" name="description" [(ngModel)]="description" autocomplete="off">
        </div>

        <div class="form-group mx-3">
          <label for="amount" class="px-3">Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">$</div>
            </div>
            <input class="form-control" name="amount" type="number" id="amount" [(ngModel)]="amount" autocomplete="off">
          </div>
        </div>
      </form>
    </div>

    <div class="col-5 d-flex justify-content-around">
      <button type="button" class="btn btn-outline-success" (click)="addIncome()">Add Income</button>
      <button type="button" class="btn btn-outline-danger" (click)="addExpense()">Add Expense</button>
      <button type="button" class="btn btn-outline-primary" (click)="resetFields()">Reset Form</button>
    </div>



  </div>
</div>
